[access "refs/*"]
	owner = group ivi-dlna
	read = group ivi-dlna
	abandon = group ivi-dlna
	create = group ivi-dlna
	forgeAuthor = group ivi-dlna
	forgeCommitter = group ivi-dlna
	forgeServerAsCommitter = group ivi-dlna
	push = +force group ivi-dlna
	pushMerge = group ivi-dlna
	pushTag = group ivi-dlna
	label-Code-Review = -2..+2 group ivi-dlna
	label-Verified = -1..+1 group ivi-dlna
	rebase = group ivi-dlna
	submit = group ivi-dlna
[access]
	inheritFrom = scm/acls/domain_automotive
[project]
	description = Maintainer group: ivi-dlna
	state = active
